.card {
  display: flex;
  flex-flow: column nowrap;
  border: 2px black solid;
  border-radius: 5px;
}

.card div {
  width: 200px;
  height: 50px;
  border: 3px black solid;
}

img {
  width: 50px;
  height: 50px;
}


