html {
      background-color: #DDBEAA;
      height: 100vh;
}

body {
      height: 100vh;
      margin: 0;
}

.main-container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center; 
      flex-direction: column;
}

/* 
Colouring the links uniquely 
Colour palette: #ddbeaa, #bfac8c, #9b9c74, #738d65, #457d5e, #006b5e
*/
#link1 {
      color: #738d65;
}

#link2 {
      color: #457d5e;
}

#link3 {
      color: #006b5e;
}

li {
      font-size: 2.25vh;
}