:root {
  --space-indigo: #22223bff;
  --dusty-grape: #4a4e69ff;
  --lilac-ash: #9a8c98ff;
  --almond-silk: #c9ada7ff;
  --parchment: #f2e9e4ff;
}

.wrapper {
  height: 100vh;
  background-color: var(--space-indigo);
  color: var(--parchment);

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.link {
  color: var(--almond-silk);
  font-size: 24px;

  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
  background-color: var(--dusty-grape);
}

.link:hover {
  color: var(--parchment);
}
