html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0;
    padding-bottom: 1rem;
}

::after, ::before, * {
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 8px;
}

.product td {
    padding: 0 2rem;
    text-align: center;
}

.product img {
    height: 20rem;
    width: auto;
}