html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1rem;
}

h1 {
    margin: 0;
}

::after, ::before, * {
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 8px;
}